@{
    ViewData["Title"] = "Poll result";
    ViewData["HeaderTitle"] = Model.Title;
    ViewData["Subtitle"] = "Poll result";
    ViewData["Class"] = "result-poll";
}
@model WisePoll.Services.ViewModels.ResultPollViewModel
<p>
    @Model.Text
</p>

<div class="result-charts">
    <div class="result-charts-item" data-chart-bar data-total-votes="@Model.Members.SelectMany(member => member.PollFields).Distinct().Count()">
        @foreach (var pollField in Model.PollFields)
        {
            <div class="result-charts-group">
                <div class="result-charts-group-title">@pollField.Label</div>
                <div class="result-charts-bar" data-votes="@pollField.Members.Count">
                    <div class="result-charts-bar-vote">
                        <strong>@pollField.Members.Count</strong> Vote@(@pollField.Members.Count > 1 ? "s" : string.Empty)
                    </div>
                </div>
            </div> 
        }
    </div>
</div>