@{
    ViewData["Title"] = "Poll result";
    ViewData["HeaderTitle"] = Model.Title;
    ViewData["Subtitle"] = "Poll result";
    ViewData["Class"] = "result-poll";
}
@model WisePoll.Services.ViewModels.ResultPollViewModel
@{
    Model.PollFields.Sort((a, b) => b.Users.Count - a.Users.Count);
}
<p>
    @Model.Text
</p>
<div class="result-charts">
    <div class="result-charts-item" data-chart-bar data-total-votes="@Model.PollFields.SelectMany(member => member.Users).Count()">
        @foreach (var pollField in Model.PollFields)
        {
            <div class="result-charts-group">
                <div class="result-charts-group-title">@pollField.Label</div>
                <div class="result-charts-bar" data-votes="@pollField.Users.Count">
                    <div class="result-charts-bar-vote">
                        <strong>@pollField.Users.Count</strong> Vote@(pollField.Users.Count > 1 ? "s" : string.Empty)
                    </div>
                </div>
            </div> 
        }
    </div>
</div>