@{
    ViewData["Title"] = "Home Page";
    ViewData["HeaderTitle"] = "List of your polls";
    ViewData["Subtitle"] = "Your polls";
    ViewData["Class"] = "LoggedHome";
}
@using System.Security.Claims
@model IEnumerable<WisePoll.Services.ViewModels.HomeIndexViewModel>

<div>
    <div class="poll-list-header">
        <div class="poll-list-header-count">You've created <strong>@Model.Count()</strong> poll@(Model.Count() > 1 ? "s" : "" ) </div>
        <a class="btn btn-primary btn-icon" asp-area="" asp-controller="Poll" asp-action="Create"><i class="icon-PlusIcon"></i>Create a poll</a>
    </div>
    @foreach (var p in Model)
    {
        <div class="poll-list-item">
            <div class="poll-list-item-infos">
                <a class="poll-list-item-infos-item poll-list-item-infos-title link">@p.Title</a>
                <span class="poll-list-item-infos-item poll-list-item-infos-participants"><strong>@p.Members.Count</strong> Participant@(p.Members.Count > 1 ? "s" : "")</span>
            </div>
            <div class="poll-list-item-actions">
                <a class="poll-list-item-actions-link link" asp-controller="Poll" asp-action="@(p.Is_active ? "Vote" : "Result")" asp-route-id="@p.Id">View @(p.Is_active ? string.Empty : "Results")</a>
                @if (p.Is_active)
                {
                    <a  class="poll-list-item-actions-link btn btn-primary" asp-controller="Poll" asp-action="Desactivate" asp-route-id="@p.Id" >End the poll</a>                }
                else
                {
                    <a  class="poll-list-item-actions-link btn btn-primary" href="#" disabled="true" >End the poll</a>
                }
            </div>
        </div>
    }

</div>